
  body {
    background-image: url(road.jpeg);
    background-size: cover
  }

  body:hover {
   background-image: url(picOne.jpeg);
    transition-duration: 7s;
  }
  img {
    width: 300px;
    border-radius: 20px;
    z-index: 100;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.3);
  }
  .author {
    display: flex;
    justify-content: center;
  }
  .heading {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h1 {
    font-family: 'Montserrat', sans-serif;
    background:antiquewhite;
    opacity: 0.7;
    border-radius: 5px;
    padding: 15px;
    font-size: 45px;
  }
  h2 {
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px;
    background:antiquewhite;
    font-size: 35px;
    opacity: 0.7;
  }
  .all {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  .poet {
    padding: 20px;
    background-color:antiquewhite;
    margin: 10px;
    border-radius: 30px;
    opacity: 0.7;
    box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    width: 60%;
    font-family: 'EB Garamond', serif;
    font-size:30px; 
    font-weight: bolder;
    white-space: pre-line;
  }


  .btn {
    border-radius: 5px;
    font-family: 'Montserrat', sans-serif;
   font-size: 40px;
    border: none;
    background-color:antiquewhite;
    opacity: 0.7;
    align-self:first baseline;
    width:90px;
    margin-top: 10px;
  
  }

  .poem {
    display: flex;
  

  }

  
  @media all and (max-width: 500px) {
    .all {
      display: flex;
      flex-direction: column;
    }
    .poet {
      padding: 15px;
      font-size: xx-small;
    }
  }

  